.a{
    background: rgb(94, 44, 4);
    background: linear-gradient(90deg,
    rgb(177, 83, 29) 0%,
    rgba(197, 78, 31, 0.808) 35%,
    rgb(136, 65, 7) 49%,
    rgba(97, 46, 3, 0.986) 100%
    );
     height: 15%;
     width: 100%;
     text-align: center;
     border-radius: 15px;
 }
 
 .a{
     color: white;
     font-family: initial;
     position: relative;
     bottom: 14px;
 }
 .im img{
     width: 100%;
     position: absolute;
     top: 0;
     z-index: -3;
 }
 #b{
     font-size: 40px;
     position: relative;
     left: 1750px;
     bottom: 0px;
     color: rgb(117, 47, 6);
     z-index: 4;
 
     
 }
 #c{
     font-size: 40px;
     position: relative;
     left: 1675px;
     bottom: 39px;
     color: rgb(117, 47, 6);
     z-index: 4;
     
 }
 .aa{
     text-align: center;
     color: rgb(90, 36, 11);
     position: relative;
     top: 60px;
     font-family: sans-serif;
     font-size: 60px;
 }
 .ima{
     position: relative;
     left: 42%;
    
 }
 .bb{
     text-align: center;
     color: rgb(105, 38, 7);
     position: relative;
     top: 50px;
     font-family: sans-serif;
 }
 .cc{
     position: relative;
     top: 70px;
     left: 635px;
     width: 30%;
     height: 50px;
     font-size: 24px;
     padding: 10px;
 }
 .dd{
     position: relative;
     top: 140px;
     left: 5%;
     width: 30%;
     height: 50px;
     font-size: 24px;
     padding: 10px;
 }
 .ee{
     position: relative;
     top: 230px;
     right: 452px;
     width: 30%;
     height: 50px;
     font-size: 24px;
     padding: 10px;
     background-color:rgb(156, 76, 30);
     border-radius: 19px;
     
 }
 .aaa{
     position: relative;
     left: 100px;
     top: 30px;
     font-family: sans-serif;
     color:rgb(121, 68, 7) ;
     font-size: 500%;
 }
 .bbb{
     position: relative;
     top: 7px;
     text-align: center;
     font-family: sans-serif;
     color: rgb(121, 68, 7);
 }
 .ccc{
     position: relative;
     left: 34%;
     bottom: 45px;
 }
 .ddd{
     position: relative;
     top: 7px;
     left: 42%;
     height: 80px;
     width: 340px;
     font-size: 24px;
     padding: 10px;
     background-color:rgb(146, 61, 22);
     border-radius: 19px;
     color: aliceblue;
 }
 .ee a{
     color: rgb(255, 255, 255);
     text-decoration: none;
 }
 .ddd a{
     color: rgb(255, 255, 255);
     text-decoration: none;
 }
 .d{
     width: 100%;
     height: 100%;
     position: relative;
     bottom: 195px;
 }
 body{
     background-image: url(background2.jpg) ;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 .e{
     backdrop-filter: blur(20px);
     background-color: transparent;
     width: 14%;
     height: 6%;
     font-size: 23px;
     position: relative;
     left: 42%;
     top: 450px;
     border-radius: 17px;
 }
 .e a{
     text-decoration: none;
     color: rgb(133, 41, 5);
 }
 .aaaa{
     width:50% ;
     height: 70%;
     border: 50px;
     background-color: rgb(133, 41, 5);
 
 }
 #shop {
     
     background-color: rgb(121, 53, 8);
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     width: 290%;
     height: 8%;
     font-size: 23px;
     color: rgb(255, 255, 255);
     position: relative;
     left: 773%;
     top: 43px;
     border-radius: 17px;
     padding: 10px;
     text-align: center;
     font-size: xx-large;
 }
 #list a {
     text-decoration: none;
     color: white;
     display: block;
     font-size: 18px;
     padding: 5px;
     text-align: center;
 }
 #list {
     background-color: rgb(121, 53, 8);
     width: 230px;
     display: none;
     position: absolute;
     margin-top: 5px;
     border-radius: 20px;
     font-family: sans-serif;
     position: absolute;
     top: -30px;
     left: 500%;
 }
 #list a {
     font-size: 150%;
 
 }
 #list a:hover {
     background-color: rgb(226, 112, 45);
 }
 #sh {
     position: relative;
     display: inline-block;
 }
 .aaaaa {
     text-align: center;
     font-family: serif;
     font-size: 450%;
     color: rgb(94, 31, 6);
 }
 
 .ddddd {
     background-color: rgb(255, 254, 254);
 }
 
 .box1{
     text-align: center;
     border: 4px #ffffff solid;
     height: auto;
     width: 200px;
     border-radius: 10px;
     box-shadow: 2px 3px 4px #ddd;
     margin: 20px;
     background-color: rgb(255, 255, 255);
     
 }
 .box1 img{
     width: 150px;
     border-radius: 8px;
 }
 .box1 :hover{
     box-shadow: 3px 3px 4px #ddd;
     transition: 0,5s;
 }
.teams{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.f{
    text-decoration: none;
    color: aliceblue;
}
